## Energy saved from recycling
<p>Did you know that recycling saves energy by reducing or eliminating the need to make materials from scratch? For example, aluminum can manufacturers can skip the energy-costly process of producing aluminum from ore by cleaning and melting recycled cans. Aluminum is classified as a non-ferrous metal.</p>
<p>Singapore has an ambitious goal of becoming a zero-waste nation. The amount of waste disposed of in Singapore has increased seven-fold over the last 40 years. At this rate, Semakau Landfill, Singaporeâ€™s only landfill, will run out of space by 2035. Making matters worse, Singapore has limited land for building new incineration plants or landfills.</p>
<p>The government would like to motivate citizens by sharing the total energy that the combined recycling efforts have saved every year. They have asked you to help them.</p>
<p>You have been provided with three datasets. The data come from different teams, so the names of waste types may differ.</p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:16px"><b>datasets/wastestats.csv - Recycling statistics per waste type for the period 2003 to 2017</b>
    </div>
    <div>Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>waste_type: </b>The type of waste recycled.</li>
    <li><b>waste_disposed_of_tonne: </b>The amount of waste that could not be recycled (in metric tonnes).</li>
    <li><b>total_waste_recycle_tonne: </b>The amount of waste that could be recycled (in metric tonnes).</li>
    <li><b>total_waste_generated: </b>The total amount of waste collected before recycling (in metric tonnes).</li>
    <li><b>recycling_rate: </b>The amount of waste recycled per tonne of waste generated.</li>
    <li><b>year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/2018_2019_waste.csv - Recycling statistics per waste type for the period 2018 to 2019</b>
    </div>
    <div> Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>Waste Type: </b>The type of waste recycled.</li>
    <li><b>Total Generated: </b>The total amount of waste collected before recycling (in thousands of metric tonnes).</li> 
    <li><b>Total Recycled: </b>The amount of waste that could be recycled. (in thousands of metric tonnes).</li>
    <li><b>Year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/energy_saved.csv -  Estimations of the amount of energy saved per waste type in kWh</b>
    </div>
<ul>
    <li><b>material: </b>The type of waste recycled.</li>
    <li><b>energy_saved: </b>An estimate of the energy saved (in kiloWatt hour) by recycling a metric tonne of waste.</li> 
    <li><b>crude_oil_saved: </b>An estimate of the number of barrels of oil saved by recycling a metric tonne of waste.</li>
</ul>

</div>
<pre><code>
</code></pre>

In [1]:
import pandas as pd
df1 = pd.read_csv('datasets/wastestats.csv')

In [2]:
df2 = pd.read_csv('datasets/2018_2019_waste.csv')

In [3]:
df3 = pd.read_csv('datasets/energy_saved.csv')

In [4]:
df1.head()

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
0,Food,679900,111100.0,791000,0.14,2016
1,Paper/Cardboard,576000,607100.0,1183100,0.51,2016
2,Plastics,762700,59500.0,822200,0.07,2016
3,C&D,9700,1585700.0,1595400,0.99,2016
4,Horticultural waste,111500,209000.0,320500,0.65,2016

In [5]:
df2.head()

,Waste Type,Total Generated ('000 tonnes),Total Recycled ('000 tonnes),Year
0,Construction& Demolition,1440,1434,2019
1,Ferrous Metal,1278,1270,2019
2,Paper/Cardboard,1011,449,2019
3,Plastics,930,37,2019
4,Food,7440,136,2019

In [6]:
df3

,The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) per waste type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,1 barrel oil is approximately 159 litres of oil,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,material,Plastic,Glass,Ferrous Metal,Non-Ferrous Metal,Paper
3,energy_saved,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,4000 kWh
4,crude_oil saved,16 barrels,NaN,1.8 barrels,40 barrels,1.7 barrels

In [7]:
df1['waste_type'].value_counts()

Total                                      15
Textile/Leather                            15
Paper/Cardboard                            15
Glass                                      15
Plastics                                   14
Others (stones, ceramics & rubber etc)     12
Used Slag                                  11
Scrap Tyres                                11
Wood/Timber                                11
Food waste                                 11
Non-ferrous Metals                         11
Horticultural Waste                        11
Sludge                                     11
Construction Debris                        11
Ferrous Metal                               7
Used slag                                   4
Scrap tyres                                 4
Ferrous metal                               4
Ferrous Metals                              4
Food                                        4
Horticultural waste                         4
Wood                                        4
Non-ferrous metal                           3
C&D                                         3
Ash & Sludge                                3
Construction debris                         1
Non-ferrous metals                          1
Others (stones, ceramics & rubber etc.)     1
Plastic                                     1
Others                                      1
Others (stones, ceramic, rubber, etc.)      1
Ash and sludge                              1
Name: waste_type, dtype: int64

In [8]:
df1['waste_type'] = df1['waste_type'].replace(['Non-ferrous Metals', 'Non-ferrous metal', 'Non-ferrous metals'], 'Non-ferrous Metal')

In [9]:
df1['waste_type'] = df1['waste_type'].replace(['Ferrous Metals', 'Ferrous metal'], 'Ferrous Metal')

In [10]:
df1['waste_type'] = df1['waste_type'].replace(['Plastics'], 'Plastic')

In [11]:
df1['waste_type'].value_counts()

Plastic                                    15
Non-ferrous Metal                          15
Total                                      15
Textile/Leather                            15
Ferrous Metal                              15
Paper/Cardboard                            15
Glass                                      15
Others (stones, ceramics & rubber etc)     12
Scrap Tyres                                11
Used Slag                                  11
Food waste                                 11
Horticultural Waste                        11
Sludge                                     11
Wood/Timber                                11
Construction Debris                        11
Used slag                                   4
Wood                                        4
Horticultural waste                         4
Scrap tyres                                 4
Food                                        4
Ash & Sludge                                3
C&D                                         3
Ash and sludge                              1
Others                                      1
Others (stones, ceramic, rubber, etc.)      1
Others (stones, ceramics & rubber etc.)     1
Construction debris                         1
Name: waste_type, dtype: int64

In [12]:
df1 = df1[(df1['waste_type']=='Non-ferrous Metal')|(df1['waste_type']=='Ferrous Metal')|(df1['waste_type']=='Glass')|(df1['waste_type']=='Plastic')]

In [13]:
df1['year'].value_counts()

2017    4
2016    4
2015    4
2014    4
2013    4
2012    4
2011    4
2010    4
2009    4
2008    4
2007    4
2006    4
2005    4
2004    4
2003    4
Name: year, dtype: int64

In [14]:
df1 = df1[df1['year']>=2015]

In [15]:
df1 = df1.drop(['waste_disposed_of_tonne', 'total_waste_generated_tonne', 'recycling_rate'], axis=1)

In [16]:
df3

,The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) per waste type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,1 barrel oil is approximately 159 litres of oil,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,material,Plastic,Glass,Ferrous Metal,Non-Ferrous Metal,Paper
3,energy_saved,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,4000 kWh
4,crude_oil saved,16 barrels,NaN,1.8 barrels,40 barrels,1.7 barrels

In [17]:
df3 = df3.dropna()

In [18]:
df3.columns = ['Energy Saved', 'Plastic', 'Glass', 'Ferrous Metal', 'Non-Ferrous Metal', 'Paper']

In [19]:
df3 = df3.drop(index=2)

In [20]:
df3

   Energy Saved   Plastic   Glass Ferrous Metal Non-Ferrous Metal     Paper
3  energy_saved  5774 Kwh  42 Kwh       642 Kwh         14000 Kwh  4000 kWh

In [21]:
df1.head()

           waste_type  total_waste_recycled_tonne  year
2             Plastic                     59500.0  2016
6       Ferrous Metal                   1351500.0  2016
7   Non-ferrous Metal                     95900.0  2016
10              Glass                     14700.0  2016
17            Plastic                     57800.0  2015

In [22]:
def energy(type,waste):
    if type == 'Plastic':
        return waste*5774
    elif type == 'Ferrous Metal':
        return waste*642
    elif type == 'Non-ferrous Metal':
        return waste*14000
    elif type == 'Glass':
        return waste*42

In [23]:
df1['energy_saved'] = df1.apply(lambda x: energy(x['waste_type'], x['total_waste_recycled_tonne']), axis=1)

In [24]:
df1['energy_saved'].isnull().sum()

0

In [25]:
s1 = df1.groupby('year').sum()['energy_saved']
s1

year
2015    3.435929e+09
2016    2.554433e+09
2017    2.470596e+09
Name: energy_saved, dtype: float64

In [26]:
df2['Waste Type'].value_counts()

Food                                     2
Construction& Demolition                 2
Ash & Sludge                             2
Used Slag                                2
Scrap Tyres                              2
Wood                                     2
Non-Ferrous Metal                        2
Plastics                                 2
Overall                                  2
Textile/Leather                          2
Ferrous Metal                            2
Horticultural                            2
Paper/Cardboard                          2
Others (stones, ceramic, rubber, ect)    2
Glass                                    2
Name: Waste Type, dtype: int64

In [27]:
df2 = df2[(df2['Waste Type']=='Ferrous Metal')|(df2['Waste Type']=='Non-Ferrous Metal')|(df2['Waste Type']=='Plastics')|(df2['Waste Type']=='Glass')]

In [28]:
df2

,Waste Type,Total Generated ('000 tonnes),Total Recycled ('000 tonnes),Year
1,Ferrous Metal,1278,1270,2019
3,Plastics,930,37,2019
10,Non-Ferrous Metal,126,124,2019
11,Glass,75,11,2019
16,Ferrous Metal,1269,126,2018
18,Plastics,949,41,2018
25,Non-Ferrous Metal,171,170,2018
26,Glass,64,12,2018

In [29]:
df2 = df2.drop("Total Generated ('000 tonnes)", axis=1)

In [30]:
df2["Total Recycled"] = df2["Total Recycled ('000 tonnes)"].apply(lambda x: x*1000)

In [31]:
def energy2(type,waste):
    if type == 'Plastics':
        return waste*5774
    elif type == 'Ferrous Metal':
        return waste*642
    elif type == 'Non-Ferrous Metal':
        return waste*14000
    elif type == 'Glass':
        return waste*42

In [32]:
df2['Energy_Saved'] = df2.apply(lambda x: energy2(x['Waste Type'], x["Total Recycled"]), axis=1)

In [33]:
df2['Energy_Saved'].isnull().sum()

0

In [34]:
ser2 = df2.groupby('Year').sum()['Energy_Saved']
ser2

Year
2018    2698130000
2019    2765440000
Name: Energy_Saved, dtype: int64

In [35]:
saving = pd.concat([s1, ser2], axis=0)

In [36]:
saving

2015    3.435929e+09
2016    2.554433e+09
2017    2.470596e+09
2018    2.698130e+09
2019    2.765440e+09
dtype: float64

In [37]:
annual_energy_savings = pd.DataFrame(saving)

In [38]:
annual_energy_savings.columns = ['total_energy_saved']

In [39]:
annual_energy_savings.index.name = 'year'

In [40]:
annual_energy_savings['total_energy_saved'] = annual_energy_savings['total_energy_saved'].astype('int64')

In [41]:
annual_energy_savings

      total_energy_saved
year
2015          3435929000
2016          2554433400
2017          2470596000
2018          2698130000
2019          2765440000